#canvas {
    margin: auto;
    position: relative;
    width: 600px;
    height: 300px;
    padding-top: 300px;
    text-align: center;
    border: solid thin black;
}

span {
    width: 2px;
    height: 2px;
    position: absolute;
    background-color: darkred;
}
